@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

/* //////////// Navigation ////////// */

nav {
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  max-height: 4.5em;
}

nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 1em;
  font-weight: bold;
}

nav a:hover {
  color: #e8907d;
}

#nav2 a:hover {
  color: #d3e8f5;
}

#proj-nav a:hover {
  color: #ffd9a898;
}

nav img {
  width: 50%;
  margin-top: -1.2em;
  padding: 0;
}

nav div {
  margin: auto auto auto 29em;
}

nav #contact {
  float: right;
  margin-right: 1em;
}

/* ////////////In general ///////// */

h1 {
  font-size: 5em;
  font-family: "Open Sans", sans-serif;
}
h2 {
  font-size: 2.5em;
  font-family: "Open Sans", sans-serif;
}

h3,
h4,
p,
a {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

/* //////////// Landing page ///////// */

#indexwrapper {
  background-color: #f4e8da;
  padding-top: 4em;
  color: #e8907d;
}

#headingwrapper {
  float: left;
  margin-top: 0.8em;
  margin-left: 10em;
}

.underline {
  height: 1em;
  width: 50%;
  background-color: #e8907d;
  margin-top: -4em;
}

#txtwrapper {
  float: left;
  margin-top: 65px;
  margin-left: 21em;
  font-size: 1.2em;
  width: 24%;
}

#placeholder:before {
  content: "Coding";
  font-weight: bold;
  animation: swapTxt infinite 5s;
}

@keyframes swapTxt {
  0% {
    content: "Coding";
    font-weight: bold;
  }
  20% {
    content: "Design";
    font-weight: bold;
  }
  40% {
    content: "Colors";
    font-weight: bold;
  }
  60% {
    content: "Video";
    font-weight: bold;
  }
  80% {
    content: "Animation";
    font-weight: bold;
  }
}

#imgcontainer {
  margin-top: 18%;
  margin-left: 24%;
  width: 60%;
}
#imgcontainer img {
  width: 25%;
}

#img1 {
  margin-left: 15%;
}

#img2 {
  margin-right: 15%;
}

#img3,
#img4,
#img5 {
  z-index: 1;
  position: relative;
  margin-top: -9em;
}

#img3,
#img5 {
  padding-bottom: 2em;
}

#txt1,
#txt2 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: inline-block;
}

#txt1 {
  top: 64%;
  left: 19%;
  z-index: 1;
  position: absolute;
}

#txt2 {
  top: 64%;
  left: 69%;
  z-index: 1;
  position: absolute;
}

#txt3,
#txt4 {
  display: inline-block;
  margin-top: -2em;
  padding-bottom: 1.5em;
}

#txt3 {
  margin-left: 22em;
}

#txt4 {
  margin-left: 10em;
}

/* //////////// Projects page ///////// */

#project-main {
  width: 100%;
  padding-top: 5em;
  background-color: #d3e8f5;
  height: 48em;
}

#projectswrapper {
  margin-left: 3.5em;
  padding-top: 4em;
  grid-column-gap: 80px;
  grid-row-gap: 50px;
  width: 80%;
  height: 30em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "project1 project2 project3" "project4 project5 .";
}

#projectswrapper div {
  margin: 0;
  padding: 0;
  width: 20em;
  height: 18em;
  background-color: rgba(255, 255, 255, 0.342);
}

#projectswrapper div:hover {
  background-color: white;
}

#projectswrapper h3 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  display: inline-block;
  position: absolute;
  color: #e8907d;
  height: 15em;
}

#proj-txt1 {
  top: 10em;
  left: 20em;
}

#proj-txt2 {
  top: 8.5em;
  left: 41.5em;
}

#proj-txt3 {
  top: 10em;
  left: 62.8em;
}

#proj-txt4 {
  top: 31em;
  left: 20em;
}

#proj-txt5 {
  top: 29em;
  left: 41.5em;
}

#project1 {
  grid-area: project1;
}

#project1 img {
  margin-left: 25%;
  margin-top: 20%;
  width: 45%;
}

#project2 {
  grid-area: project2;
}

#project2 img {
  width: 60%;
  margin-left: 20%;
  margin-top: 15%;
}

#project3 {
  grid-area: project3;
  width: 20em;
}

#project3 img {
  margin-left: 10%;
  margin-top: 5%;
}

#project4 {
  grid-area: project4;
}

#project4 img {
  margin-left: 10%;
  margin-top: 10%;
}

#project5 {
  grid-area: project5;
}

#project5 img {
  margin-left: 10%;
  margin-top: 5%;
}

/* //////////// Hogwarts student list///////// */

#harrypotterwrapper,
#voltwrapper,
#kogiwrapper,
#tokyowrapper,
#todowrapper {
  padding-top: 4em;
}

#hp-section1 {
  background-color: #d5d5d5;
  color: white;
  padding: 1.5em;
}

#hp-headingwrapper,
#volt-headingwrapper,
#kogi-headingwrapper,
#tokyo-headingwrapper,
#todo-headingwrapper {
  float: left;
  margin-left: 2.5em;
}

.small-underline {
  height: 0.5em;
  width: 50%;
  margin-top: -2em;
  background-color: white;
}

#hp-section1 p,
#volt-section1 p,
#kogi-section1 p,
#tokyo-section1 p,
#todo-section1 p {
  width: 50%;
  position: absolute;
  top: 14em;
  left: 4.5em;
}

#hp-section1 img,
#volt-section1 img,
#kogi-section1 img,
#tokyo-section1 img,
#todo-section1 img {
  margin-left: 65%;
  margin-top: -5.5em;
}

.hp-underline {
  height: 0.5em;
  width: 50%;
  margin-top: -2em;
  background-color: #d5d5d5;
}

#hp-section2,
#hp-section3,
#hp-section4 {
  color: #d5d5d5;
  margin-bottom: 4em;
}

#hp-section2 a,
#hp-section3 a,
#hp-section4 a {
  color: #a8a8a8;
  font-weight: bold;
}

#hp-section2 a:hover,
#hp-section3 a:hover,
#hp-section4 a:hover {
  color: #7c7c7c;
}

.hp-headingwrapper2 {
  float: left;
  margin-right: 80%;
  margin-bottom: 2em;
}

#hp-section2,
#hp-section3,
#hp-section4 p {
  width: 50%;
  margin-top: 1em;
  margin-left: 3.5em;
}

#hp-section4 .hp-headingwrapper2 {
  margin-left: 3.5em;
}
/* //////////// Volt///////// */

#volt-section1 {
  background-color: #ffc391;
  color: #f78e39;
  padding: 1.5em;
}

#volt-headingwrapper {
  float: left;
  margin-left: 2.5em;
}

#volt-underline {
  height: 0.5em;
  width: 50%;
  margin-top: -2em;
  background-color: #fe9c4a;
}

#volt-section2,
#volt-section3,
#volt-section4 {
  color: #ffc391;
  margin-bottom: 4em;
}

#volt-icons {
  background-color: #ffc391;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
#volt-section2,
#volt-section3,
#volt-section4 p {
  width: 50%;
  margin-left: 3.5em;
}

#volt-section2 a,
#volt-section3 a,
#volt-section4 a {
  color: #f78e39;
  font-weight: bold;
}

#volt-section2 a:hover,
#volt-section3 a:hover,
#volt-section4 a:hover {
  color: #f78f39c0;
}

#volt-section2 span {
  font-weight: bold;
}

#volt-section2 p {
  margin-top: 1.9em;
}

.volt-headingwrapper2,
.kogi-headingwrapper2,
.tokyo-headingwrapper2,
.todo-headingwrapper2 {
  float: left;
  margin-right: 80%;
  margin-bottom: 2em;
}

.volt-underline2 {
  height: 0.5em;
  width: 50%;
  margin-top: -2em;
  background-color: #ffc391;
}

#volt-section4 .volt-headingwrapper2 {
  margin-left: 3.5em;
}

/* //////////// Kogi's lunchbox adventures///////// */

#kogi-section1 {
  background-color: #b0dff0;
  color: white;
  padding: 1.5em;
}

#kogi-section2,
#kogi-section3,
#kogi-section4,
#kogi-section5 {
  color: #b0dff0;
  margin-bottom: 4em;
}

#kogi-section2,
#kogi-section3,
#kogi-section4,
#kogi-section5 p {
  width: 50%;
  margin-left: 3.5em;
}

#kogi-section2 a,
#kogi-section3 a,
#kogi-section4 a,
#kogi-section5 a {
  color: #4caed1;
  font-weight: bold;
}

#kogi-section2 a:hover,
#kogi-section3 a:hover,
#kogi-section4 a:hover,
#kogi-section5 a:hover {
  color: #0d94c5;
}

.kogi-underline2 {
  height: 0.5em;
  width: 50%;
  margin-top: -2em;
  background-color: #b0dff0;
}

#kogi-img1,
#kogi-img2 {
  background-color: #b0dff0;
}

#kogi-section5 .kogi-headingwrapper2 {
  margin-left: 3.5em;
}

#kogi-section2 .kogi-headingwrapper2 {
  margin-right: 90%;
}

/* //////////// Discover tokyo///////// */

#tokyo-section1 {
  background-color: #dcdeef;
  color: #818bd4;
  padding: 1.5em;
}

#tokyo-underline {
  height: 0.5em;
  width: 50%;
  margin-top: -2em;
  background-color: #818bd4;
}

#tokyo-section2,
#tokyo-section3,
#tokyo-section4,
#tokyo-section5 {
  color: #dcdeef;
  margin-bottom: 4em;
}

#tokyo-section2 .tokyo-headingwrapper2 {
  margin-right: 90%;
}

.tokyo-underline2 {
  height: 0.5em;
  width: 50%;
  margin-top: -2em;
  background-color: #dcdeef;
}

#tokyo-section2,
#tokyo-section3,
#tokyo-section4,
#tokyo-section5 p {
  width: 50%;
  margin-left: 3.5em;
}

#tokyo-section2 a,
#tokyo-section3 a,
#tokyo-section4 a,
#tokyo-section5 a {
  color: #818bd4;
  font-weight: bold;
}

#tokyo-section2 a:hover,
#tokyo-section3 a:hover,
#tokyo-section4 a:hover,
#tokyo-section5 a:hover {
  color: #606dd3;
}

#tokyo-section5 .tokyo-headingwrapper2 {
  margin-left: 3.5em;
}
/* //////////// Todo tokyo///////// */

#todo-section1 {
  background-color: #b7d3c1;
  color: #4b5f54;
  padding: 1.5em;
}

#todo-underline {
  height: 0.5em;
  width: 50%;
  margin-top: -2em;
  background-color: #4b5f54;
}

#todo-section2,
#todo-section3,
#todo-section4,
#todo-section5 {
  color: #b7d3c1;
  margin-bottom: 4em;
}

.todo-underline2 {
  height: 0.5em;
  width: 50%;
  margin-top: -2em;
  background-color: #b7d3c1;
}

#todo-section2,
#todo-section3,
#todo-section4,
#todo-section5 p {
  width: 50%;
  margin-left: 3.5em;
}

#todo-section2 a,
#todo-section3 a,
#todo-section4 a,
#todo-section5 a {
  color: #4b5f54;
  font-weight: bold;
}

#todo-section2 a:hover,
#todo-section3 a:hover,
#todo-section4 a:hover,
#todo-section5 a:hover {
  color: #4b5f54ce;
}

#todo-section1 a {
  color: #a5beae;
}

#todo-colors div {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: inline-block;
  margin-right: 1em;
  margin-top: 1em;
}

#color1 {
  background-color: #195427;
}

#color2 {
  background-color: #b9d3bf;
}

/* //////////// About me page ///////// */

#aboutmewrapper {
  padding-top: 4em;
  margin: 0;
  width: 100%;
}
#firsthalf {
  display: inline-block;
  width: 50%;
  padding-top: 1.5em;
  margin: 0;
  background-color: #f5e295;
  height: 38em;
  position: absolute;
}

#secondhalf {
  display: inline-block;
  width: 50%;
  padding-top: 1.5em;
  margin-left: 50%;
  background-color: #d3e8f5;
  height: 38em;
  position: absolute;
}

#headingwrapper2,
#headingwrapper3 {
  float: left;
  margin-left: 2.5em;
}

#headingwrapper2 h2,
#headingwrapper3 h2 {
  color: white;
}

#headingwrapper2 div,
#headingwrapper3 div {
  background-color: white;
  height: 0.5em;
  margin-top: -2em;
}

#firsthalf p {
  color: white;
  margin-top: 10.5em;
  margin-left: 2.5em;
  width: 70%;
}

/*Slideshow*/

.slidescontainer {
  max-width: 30em;
  max-height: 20em;
  margin-left: 4.5em;
  margin-top: 8em;
  overflow-x: scroll;
  white-space: nowrap; /*Sequences of whitespace will collapse into a single whitespace. Text will never wrap to the next line. The text continues on the same line until a <br> tag is encountered*/
}

.slidescontainer * {
  display: inline-block;
  color: #bdddf1;
}

.slidescontainer article {
  background-color: white;
  height: 32em;
  width: 30em;
}

/*Positioning of text from here https://codepen.io/rpsthecoder/pen/LJZzRV*/
.slidescontainer p {
  width: calc(100% - 120px);
  margin: 80px auto auto -50px;
  vertical-align: top;
  white-space: initial;
  font-size: 0.9em;
}

#a1 h3,
#a2 h3,
#a3 h3 {
  margin-left: 2.5em;
  margin-top: 1.5em;
}

#a1 p {
  margin-left: -11em;
}

#a1 span,
#a2 span,
#a3 span {
  font-weight: bold;
}

#a2 p {
  margin-left: -6.5em;
}

#a3 p {
  margin-left: -3.6em;
}

/* //////////// Modal ///////// */

#contactmodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0em;
  top: 0em;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: white;
  animation: fadeIn linear 0.4s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.close {
  color: black;
  float: right;
  font-size: 2.4em;
  margin-right: 1em;
  margin-top: 0.4em;
  cursor: pointer;
}

#contactmodal h2 {
  margin-top: 2.5em;
  font-size: 3em;
}

#contactmodal p {
  color: #bdddf1;
  font-size: 2em;
  font-weight: bold;
}
#contactmodal img {
  width: 4%;
}

@media all and (max-width: 400px) {
  #burgermenu {
    color: black;
    font-size: 2.7em;
    cursor: pointer;
  }

  nav {
    display: none;
  }

  .sidenav {
    height: 18em;
    width: 100%;
    position: fixed;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5em;
    z-index: 1;
  }

  .sidenav a {
    padding: 0.8em;
    font-weight: bold;
    display: block;
    transition: 0.3s;
    text-align: left;
    margin-top: -1em;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0.5em;
    left: 6.5em;
    font-size: 2.8em;
    color: black;
  }

  .sidenav h4 {
    margin-left: 0.8em;
  }

  #email {
    color: #bdddf1;
    margin-top: -1em;
    margin-left: 0.8em;
  }
  .git {
    width: 8%;
    margin-top: -0.5em;
    margin-left: 0.8em;
  }

  /* ///// Landing page ///// */

  #indexwrapper {
    height: 32em;
  }

  #headingwrapper {
    margin-left: 1.5em;
    margin-top: -5.5em;
  }

  #txtwrapper {
    margin-left: 1.5em;
    margin-top: 1.5em;
    width: 70%;
  }

  #imgcontainer {
    width: 100%;
    margin-top: 23.5em;
    margin-left: 8em;
  }

  #img1,
  #img2,
  #img3,
  #img5 {
    display: none;
  }

  #txt1 {
    margin-left: -1em;
    margin-top: 1em;
  }

  #txt2 {
    margin-left: 1.5em;
    margin-top: 1.1em;
  }

  #txt3 {
    margin-top: 0.8em;
    margin-left: 3.4em;
  }

  #txt4 {
    margin-top: 0.8em;
    margin-left: 3em;
  }

  /* ///// About me page ///// */

  #firsthalf {
    width: 100%;
    display: block;
    position: relative;
    height: 33em;
    margin-top: -4em;
  }

  #firsthalf p {
    margin-top: 7.5em;
  }

  #secondhalf {
    margin-left: 0em;
    width: 100%;
    display: block;
    position: relative;
    height: 33em;
  }

  .slidescontainer {
    max-width: 18em;
    max-height: 20em;
    margin-left: 2.5em;
  }

  .slidescontainer article {
    background-color: white;
    width: 18em;
    height: 50em;
  }

  /* ///// Projects page ///// */

  #project-main {
    height: 78em;
  }

  #projectswrapper {
    margin-top: -4.5em;
    grid-row-gap: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "project1" "project2" "project3" "project4" "project5";
  }

  #projectswrapper div {
    width: 15em;
    height: 12em;
    background-color: rgba(255, 255, 255, 0.342);
  }

  #projectswrapper h3 {
    display: none;
  }

  #project3 img {
    width: 75%;
    margin-left: 12%;
    margin-top: 4.5%;
  }

  #project4 img {
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
  }

  #project5 img {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
  }

  /* ///// Harry potter///// */
  #hp-section1 {
    height: 45em;
    margin-top: -4em;
  }

  #hp-headingwrapper,
  #volt-headingwrapper,
  #kogi-headingwrapper,
  #tokyo-headingwrapper,
  #todo-headingwrapper {
    margin-left: 1em;
  }

  #hp-section1 p,
  #volt-section1 p,
  #tokyo-section1 p,
  #todo-section1 p {
    width: 68%;
    top: 18em;
    left: 3em;
  }

  #hp-section1 img,
  #volt-section1 img,
  #kogi-section1 img,
  #tokyo-section1 img,
  #todo-section1 img {
    display: none;
  }

  #hp-section2,
  #hp-section3,
  #hp-section4 {
    margin-bottom: 1.5em;
  }

  #hp-section2,
  #hp-section3,
  #hp-section4 p {
    width: 68%;
    margin-left: 2em;
  }

  #hp-section4 .hp-headingwrapper2 {
    margin-left: 2em;
  }

  /* ///// Volt///// */

  #volt-section1 {
    height: 40em;
    margin-top: -4em;
  }

  #volt-headingwrapper {
    margin-left: 1em;
  }

  #volt-section2,
  #volt-section3,
  #volt-section4 {
    margin-bottom: 1.5em;
  }

  #volt-section2,
  #volt-section3,
  #volt-section4 p {
    width: 68%;
    margin-left: 2.1em;
  }

  #volt-section4 .volt-headingwrapper2 {
    margin-left: 2em;
  }

  /* //////////// Kogi's lunchbox adventures///////// */

  #kogi-section1 {
    height: 31em;
    margin-top: -4em;
  }

  #kogi-section1 p {
    top: 20em;
    left: 3em;
    position: absolute;
    width: 68%;
  }

  #kogi-section2,
  #kogi-section3,
  #kogi-section4,
  #kogi-section5 {
    margin-bottom: 1.5em;
  }

  #kogi-section2,
  #kogi-section3,
  #kogi-section4,
  #kogi-section5 p {
    width: 68%;
    margin-left: 2.1em;
  }

  #kogi-img1,
  #kogi-img2,
  #kogi-img3 {
    width: 100%;
  }

  #spritesheet {
    width: 90%;
  }

  #kogi-section5 .kogi-headingwrapper2 {
    margin-left: 2em;
  }

  /* //////////// Discover tokyo///////// */

  #tokyo-section1 {
    height: 31em;
    margin-top: -4em;
  }

  #tokyo-section2,
  #tokyo-section3,
  #tokyo-section4,
  #tokyo-section5 {
    margin-bottom: 1.5em;
  }

  #tokyo-section2,
  #tokyo-section3,
  #tokyo-section4,
  #tokyo-section5 p {
    width: 68%;
    margin-left: 2.1em;
  }

  #tokyo-section5 .tokyo-headingwrapper2 {
    margin-left: 2em;
  }
  /* //////////// Todo tokyo///////// */

  #todo-section1 {
    height: 35em;
    margin-top: -4em;
  }

  #todo-section2,
  #todo-section3,
  #todo-section4,
  #todo-section5 {
    margin-bottom: 1.5em;
  }

  #todo-section2,
  #todo-section3,
  #todo-section4,
  #todo-section5 p {
    width: 68%;
    margin-left: 2.1em;
  }
}
